{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block head %}
  <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/bootstrap-social.css" rel="stylesheet">
{% endblock head %}

{% block body %}
<div class="row">
  <div class="cover col-sm-10">
    <h2 class="centered">Quora</h2>
    <p class="centered">Get answers to your questions.</p>
    <hr>
      <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-primary btn-block mb-4" type="submit">Sign in</button>
      </form>
      <hr>
          <a class="btn btn-block" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
            <img width="20px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Login with Google
          </a>
      <hr>
      <p class="text-inverse text-center">Don't have an account?<a href="{% url 'signup' %}" class="btn btn-link">Sign Up</a></p>
  </div>
</div>
{% endblock body %}
